.todo-list{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 244, 128);
    margin: 3rem;
    width: 400px;
    border-radius: 8px;
    padding: 1rem;
    gap: 1rem;
}