@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

#todo-view {
  background-color: rgb(241, 210, 233);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: #1a1a1ab4;
}
