.todo-item {
  display: flex;
  
  background-color: #dfff;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  gap: 1rem;
  width: 380px;
  border-radius: 5px;
  word-break: break-word;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: black;
}

.todo-item:hover {
  background-color: rgb(206, 223, 238);
}


@media screen and (max-width: 600px) {
  .todo-item {
    width: 360px;
    
  }
}
